@font-face {
    font-family: compact;
    src: url('font/compacta_bt/Compctan.ttf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*Borda cobre parte de dentro do elemento*/
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #2b4861;
    --cor2-transp: rgba(0, 0, 0, 0.548);
    --cor3: #070a11;
    --cor4: #79b466;
    --cor5: #355134;
    --cor6: #AF854D;
    --cor7-transp: rgba(0, 0, 0, 0.255);
    --cor8: black;
    --cor9: white;
}

header {
    position: relative;
}

img#logo-tipo {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 250px;
}

.div-mariposa {
    display: none;
    position: absolute;
    right: calc(1.2vw + 0px);
    width: 50%;
    height: 150px;
    overflow: hidden;
    padding: 0%;
    /* box-shadow: 5px 1px 6px rgba(255, 255, 255, 0.13); */
}

.gif-mariposas {
    display: none;
    position: absolute;
    right: 0px;
    height: 300px;
}

body {
    background-color: black;
}

div {
    width: 100%;
}

h1, h2, a {
    font-family: compact, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.388);
    text-decoration: none;
}

h1, h2 {
    letter-spacing: 0.5pt;
    font-size:2.063em;
}

h3 {
    font-family: compact, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.5pt;
    font-size:1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.388);
    text-decoration: none;
    padding: 10px;
}

header.cabecalho {
    position: relative;
    height: 150px;
    background-color: var(--cor8);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.36);
    z-index: 2;
}

ul.linhamenu {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: block;
    text-align: center;
    width: 96vw;
    height: auto;
    transition: 0.5s;
    margin: auto;
    background-color: var(--cor2-transp);
    z-index: 1;
    overflow: hidden;
}

#btn-menu-hamb {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0%);
    width: 35px;
    height: 35px;
    border: 1px solid var(--cor9);
    border-radius: 3px;
    cursor: pointer;
    background: transparent;
}

.linha-btn {
    position: relative;
    transform-origin: center;
    display: block;
    background-color: var(--cor9);
    height: 0.1rem;
    width: 20px;
    margin: 4px auto;
    transition: 0.2s;
}

button.animacao .linha-btn:nth-child(1) {
    transform: translateY(0.35rem) rotate(45deg);
}

button.animacao .linha-btn:nth-child(2) {
    width: 0px;
}

button.animacao .linha-btn:nth-child(3) {
    transform: translateY(-0.35rem) rotate(-45deg);
}

li.item-menu {
    margin: auto;
    width: 50%;
    list-style-type: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: 1px solid black;
}

li.item-menu:hover {
    background-color: var(--cor7-transp);
    border-radius: 10px;
    text-decoration: underline;
}

li.item-menu a {
    text-shadow: 0px 0px 10px var(--cor8);
}

/* Aqui acima é o cabeçalho e formatações padrão */

section.secao {
    background-color: var(--cor9);
    width: 96vw;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.36);
}

/* Esqueleto das seções */





/* Aqui abaixo começa o rodapé */

footer {
    position: relative;
    width: 96vw;
    height: 200px;
}

footer > div:nth-child(1){
    position: absolute;
    top: 5%;
    left: 3%;
    width: 265px;
    background-color: var(--cor9);
    border-radius: 5px;
}

footer img {
    height: 35px;
    margin: 5px;
}

footer > div.logo-criadores > a:nth-child(4) > img {
    height: 20px;
    margin: 5px;
    margin-bottom: 13px;
}

footer > div.redes-sociais-marcos {
    position: absolute;
    top: 5%;
    right: 3%;
    width: 55px;
    background-color: var(--cor9);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 15px;
}

footer > div.redes-sociais-marcos img {
    display: block;
    width: 30px;
    height: auto;
    margin: auto;
    margin-top: 5px;
    
}

div.redes-sociais-marcos p {
    font-size: 12px;
}

footer > div.creditos {
    position: absolute;
    top: 40%;
    left: 3%;
    width: 60%;
    border-radius: 5px;
    padding: 5px;
    color: var(--cor9);
}

small {
    font-size: 10px;
    line-height: 12px;
}