/*
Extra small devices (phones, 600px and down)
Small devices (portrait tablets and large phones, 600px and up)
Medium devices (landscape tablets, 768px and up)
Large devices (laptops/desktops, 992px and up)
Extra large devices (large laptops and desktops, 1200px and up)
 */

 :root {
    --cor1: #2b4861;
    --cor2-transp: rgba(0, 0, 0, 0.548);
    --cor3: #070a11;
    --cor4: #79b466;
    --cor5: #355134;
    --cor6: #AF854D;
    --cor7-transp: rgba(0, 0, 0, 0.255);
    --cor8: black;
    --cor9: white;
}


@media only screen and (min-width: 768px) {

    .div-mariposa {
        display: block;
    }

    .gif-mariposas {
        display: block;
    }

    ul.linhamenu {
        color: var(--cor9);
        background-color: var(--cor8);
        position: static;
        display: flex;
        transform: translate(0px, 0px);
        width: 96vw;
        box-shadow: 0px 0px 10px var(--cor9);
    }

    li.item-menu {
        margin: auto;
        padding: 8px;
        list-style-type: none;
        color: white;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s;
        border-bottom: 1px solid black;
    }

    li.item-menu:hover {
        background-color: rgba(255, 255, 255, 0.138);
    }
    
    #btn-menu-hamb {
        display: none;
    }

    div.titulo {
    width: 100%;
    color: var(--cor8);
    padding: 30px;
    text-align: left;
}
    
section#second > div.backg {
    display: flex;
}

section#second > div.backg > div.titulo {
    padding-top: 200px;
    width: 50%;
}

section#second > div > div.conteudo {
    width: 50%;
}

section#fourth > div > div.conteudo > div {
    display: flex;
    justify-content: center;
}

div.titulo > h2 {
    text-align: center;
}

section#second > div.backg {
    height: auto;
    padding: 50px 0px;
}

    
}


@media only screen and (min-width: 992px) {

    .arrow-image-video {
        height: 80%;
    }

    section#third > div.backg > div > iframe {
        height: 80%;
    }

    .div-mariposa {
        right: calc(1.2vw + 3px);
    }

    section#second > div.backg > div.titulo {
        padding-top: 150px;
    }



}

@media only screen and (min-width: 1200px) {

    .arrow-image-video {
        height: 90%;
    }

    section#third > div.backg > div > iframe {
        height: 90%;
    }

    .div-mariposa {
        right: calc(1.2vw + 5px);
    }

    section#second > div > div.conteudo {
        padding-right: 50px;
    }

}