/*
Extra small devices (phones, 600px and down)
Small devices (portrait tablets and large phones, 600px and up)
Medium devices (landscape tablets, 768px and up)
Large devices (laptops/desktops, 992px and up)
Extra large devices (large laptops and desktops, 1200px and up)
 */

 /* @media only screen and (min-width: 600px) {

} 

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
*/

@media only screen and (min-width: 768px) {

    div.caixa {
        display: flex;
        align-items: center;
    }

    div.titulo {
        text-align: center;
    }

    div.backg:nth-child(even) > div > iframe {
        height: 400px;
    }

    div.backg:nth-child(1) {
        height: 80vh;
        background-image: url(../imagens/jogo-tlou-part-I-primeiro.png);
    }

    div.backg {
        position: relative;
        padding: 10px 20px 10px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        text-align: justify;
    }

    div.backg:nth-child(odd) > div.caixa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: var(--cor2-transp);
        padding: 10px;
        color: var(--cor9);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
    }

}

@media only screen and (min-width: 992px) {

    div.caixa {
        width: 80%;
        justify-content: center;
    }

    div.backg:nth-child(even) > div > iframe {
        height: 500px;
        margin-bottom: 50px;
    }    

}

@media only screen and (min-width: 1200px) {

}