/*
Extra small devices (phones, 600px and down)
Small devices (portrait tablets and large phones, 600px and up)
Medium devices (landscape tablets, 768px and up)
Large devices (laptops/desktops, 992px and up)
Extra large devices (large laptops and desktops, 1200px and up)
 */

 @media only screen and (min-width: 768px) {
    div.img {
        width: 500px;
        margin: auto;
    }

    div.conteudo {
        padding: 20px;
    }
}

@media only screen and (min-width: 992px) {
    div.conteudo {
        padding: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    

}