@font-face {
    font-family: compact;
    src: url('font/compacta_bt/Compctan.ttf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*Borda cobre parte de dentro do elemento*/
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #2b4861;
    --cor2-transp: rgba(0, 0, 0, 0.548);
    --cor3: #070a11;
    --cor4: #79b466;
    --cor5: #355134;
    --cor6: #AF854D;
    --cor7-transp: rgba(0, 0, 0, 0.255);
    --cor8: black;
    --cor9: white;
}

h2 {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.447);
}

div.div-titulo {
    padding: 20px;
}

h2.titulo {
    text-align: center;
    color: var(--cor8);
}

h3 {
    text-align: center;
}

div.div-img {
    width: max-content;
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
    border-radius: 50px;
}

.div-img img {
    width: 300px;
}

div.conteudo {
    padding: 20px;
    text-align: justify;
}

div.cuidado {
    padding: 20px;
    text-align: justify; 
    background-color: var(--cor8);
    color: var(--cor9);
}

div.cuidado h2 {
    color: red;
}

div.backg:nth-child(5) {
    display: none;
}

button.abrir {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: rgb(137, 0, 0);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.678);
    cursor: pointer;
}

button.abrir:hover {
    background-color: rgba(255, 255, 255, 0.723);
    color: rgb(188, 0, 0);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.405);
}
