@font-face {
    font-family: compact;
    src: url('font/compacta_bt/Compctan.ttf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*Borda cobre parte de dentro do elemento*/
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #2b4861;
    --cor2-transp: rgba(0, 0, 0, 0.548);
    --cor3: #070a11;
    --cor4: #79b466;
    --cor5: #355134;
    --cor6: #AF854D;
    --cor7-transp: rgba(0, 0, 0, 0.255);
    --cor8: black;
    --cor9: white;
}

h2 {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.447);
}

div.div-titulo {
    padding: 20px;
}

h2.titulo {
    text-align: center;
    color: var(--cor8);
}

h3 {
    text-align: center;
}

div.div-img {
    display: flex;
    width: 300px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
    border-radius: 50px;
}

.div-img img {
    width: 100%;
}

.div-img div.carrossel {
    width: auto;
}


div.conteudo {
    padding: 20px 20px;
    text-align: justify;
}

div.cuidado {
    padding: 20px;
    text-align: justify; 
    background-color: var(--cor8);
    color: var(--cor9);
}

div.cuidado h2 {
    color: red;
}

div.backg:nth-child(5) {
    /* display: none; */
}

div.backg:nth-child(5) div.titulo {
    position: relative;
}

button.abrir {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: rgb(137, 0, 0);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.678);
    cursor: pointer;
}

button.abrir:hover {
    background-color: rgba(255, 255, 255, 0.723);
    color: rgb(188, 0, 0);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.405);
}

div.conteudo > p {
    padding: 0px 30px 10px 30px;
}

/* .c-carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.c-carousel__slide {
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
}

.c-carousel__slide img {
    width: 300px;
}

.carousel--simple-next {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    padding: 100px 5px;
    font-size: 30px;
    background-color: rgba(52, 52, 52, 0.314);
    color: rgba(255, 255, 255, 0.377);
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

.carousel--simple-prev {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    padding: 100px 5px;
    font-size: 30px;
    background-color: rgba(52, 52, 52, 0.314);
    color: rgba(255, 255, 255, 0.377);
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

.glider-dot.active {
    background: green;
} */

/* Aqui começa os estilos anteriores */

button.left-passInfected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-420%, -35%);
    font-size: 25px;
    padding: 50px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.899);
    color: rgba(85, 85, 85, 0.697);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

button.left-passInfected:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.385);
    color: rgba(151, 151, 151, 0.488);
}

button.left-passInfected:active {
    transform: translate(-430%, -35%);
}

button.right-passInfected {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(420%, -35%);
    font-size: 25px;
    padding: 50px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.899);
    color: rgba(85, 85, 85, 0.697);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

button.right-passInfected:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.385);
    color: rgba(151, 151, 151, 0.488);
}

button.right-passInfected:active {
    transform: translate(430%, -35%);
}

.infectados:nth-child(1) {
    margin: 0px 0px;
    transition: 0.2s;
}


