@font-face {
    font-family: compact;
    src: url('font/compacta_bt/Compctan.ttf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*Borda cobre parte de dentro do elemento*/
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #2b4861;
    --cor2-transp: rgba(0, 0, 0, 0.548);
    --cor3: #070a11;
    --cor4: #79b466;
    --cor5: #355134;
    --cor6: #AF854D;
    --cor7-transp: rgba(0, 0, 0, 0.255);
    --cor8: black;
    --cor9: white;
}

div.backg {
    padding-bottom: 20px;
}

h2, h3 {
    color: black;
    text-align: center;
    padding: 10px;
}

div.img {
    width: 350px;

}

div.desktop {
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--cor7-transp);
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

div.caixa-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.caixa-phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.img img {
    width: 100%;
    cursor: pointer;
}

div.phone {
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--cor7-transp);
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

div.phone > div.img {
    width: 150px;
}

.btn-download {
    display: block;
    margin: 5px auto 5px auto;
    border: 2px solid #426238;
    border-radius: 10px;
    padding: 10px 80px;
    cursor: pointer;
    background-color: var(--cor4);
}

div.phone button.btn-download {
    padding: 10px 40px;
}

.btn-download:hover {
    background-color: #8fd478;
    border: 2px solid #669557;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.221);
}